In [10]:
import os
import sys

import numpy as np
import pandas as pd

In [11]:
%load_ext autoreload
%autoreload 2
# Hotfix repo
repo_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
if repo_root not in sys.path:
    sys.path.insert(0, repo_root)

from preprocessing import read
from tools import visualize

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

#### Read

In [12]:
# TODO change to your own
datapath = '../../data/'
prfile = 'prAdjust_FR-Metro_MPI-ESM1-2-LR_historical_r1i1p1f1_CNRM_CNRM-ALADIN63-emul-CNRM-UNET11-tP22_v1-r1_MF-CDFt-SAFRAN-1985-2014_day_18500101-20141231.nc'
tasfile = 'tasAdjust_FR-Metro_MPI-ESM1-2-LR_historical_r1i1p1f1_CNRM_CNRM-ALADIN63-emul-CNRM-UNET11-tP22_v1-r1_MF-CDFt-ANASTASIA-SAFRAN-1985-2014_day_18500101-20141231.nc'

labelsfilepath = '../data/incendies/incendies_V3.csv'

In [13]:
start_date=np.datetime64('2004-01-01')

# Read label data
gdf = read.read_labels(labelsfilepath)

# Read actual data
ds = read.read_nc_files([(datapath+prfile, 'prAdjust'), (datapath+tasfile, 'tasAdjust')], start_date=start_date)

#### Preprocess

In [14]:
# Align labels to data
ds = read.align_data(ds, gdf)

# Extact pixelwise raw timeseries
rawdf = read.extract_pixel_timeseries(ds)

/home/tgazel/miniforge3/envs/hackatonenv/lib/python3.11/site-packages/dask/array/chunk.py:279: RuntimeWarning: invalid value encountered in cast
  return x.astype(astype_dtype, **kwargs)

In [ ]:
# store 
rawdf.to_parquet("../data/rawtimeseries.pkl")

In [9]:
pd.read_pickle("../data/rawtimeseries.pkl")

                                         prAdjust   tasAdjust  fire
y         x         time
1617000.0 1172000.0 2004-01-01 12:00:00  0.000002  284.928436   0.0
                    2004-01-02 12:00:00  0.000000  283.406006   0.0
                    2004-01-03 12:00:00  0.000000  282.947235   0.0
                    2004-01-04 12:00:00  0.000001  283.699280   0.0
                    2004-01-05 12:00:00  0.000000  284.659241   0.0
...                                           ...         ...   ...
2673000.0 620000.0  2014-12-27 12:00:00  0.000042  275.036255   0.0
                    2014-12-28 12:00:00  0.000015  279.679169   0.0
                    2014-12-29 12:00:00  0.000000  279.818634   0.0
                    2014-12-30 12:00:00  0.000000  280.167633   0.0
                    2014-12-31 12:00:00  0.000005  281.962433   0.0

[36085658 rows x 3 columns]